In [42]:
import pandas as pd

In [43]:
# Creation of Series
a = pd.Series([1, 2, 3, 4, 5])
# Dict
b = pd.Series({'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5})

# changing index
c = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])

# NaN instance
d = pd.Series({'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}, index=['a', 'b', 'c', 'd', 'e', 'f'])
d

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    NaN
dtype: float64

In [44]:
# Creation of DataFrame
a = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
# Dict Nmaes and Age
b = pd.DataFrame({'Names': ['a', 'b', 'c', 'd', 'e'], 'Age': [1, 2, 3, 4, 5]})
b.describe()

            Age
count  5.000000
mean   3.000000
std    1.581139
min    1.000000
25%    2.000000
50%    3.000000
75%    4.000000
max    5.000000

In [45]:
iris = pd.read_csv("iris.csv")
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [64]:
iris.iloc[0:3, 0:3] # iloc is used for index based slicing
iris.loc[0:3, ('Sepal.Length', 'Petal.Length')] # loc is used for label based slicing
dropped_col = iris.drop('Sepal.Length', axis=1)
dropped_col.head()

dropped_row = iris.drop(range(10), axis=0) # could be [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
dropped_row.head()

    Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa

In [73]:
iris['Species'].unique() # unique values
iris['Species'].value_counts() # count of unique values
iris['Species'].nunique() # number of unique values
iris.sort_values(by='Sepal.Length').head() # sorting

    Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
13           4.3          3.0           1.1          0.1  setosa
42           4.4          3.2           1.3          0.2  setosa
38           4.4          3.0           1.3          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
41           4.5          2.3           1.3          0.3  setosa